@import url("https://fonts.googleapis.com/css? family-Poppins:400, 500, 600 | Playfair+Display:400");
@import "Styleguide.css";
.dang-nhap {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  overflow: hidden;
  width: 1448px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group6 {
  height: 900px;
  margin-left: 57px;
  margin-top: 3.59px;
  position: relative;
  width: 1383px;
}
.overlap-group {
  border-color: #667ac1;
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  box-shadow: -8px 6px 0px 2px #00229888;
  border-right-style: solid;
  border-right-width: 0.5px;
  display: flex;
  height: 188px;

  left: 366px;
  min-width: 593px;

  padding: 0.5px 3.5px;
  position: absolute;

  top: 176px;
}

.vi-khch-hng-c {
  color: transparent;
  font-family: var (--font-family-poppins);
  font-size: var(--font-size-m2);
  font-weight: 400;
  letter-spacing: 0;
  height: 179px;
  line-height: normal;
  width: 578px;
}
.valign-text-middle {
  display: flex;

  flex-direction: column;
  justify-content: center;
}

.span-1 {
  color: #882298;
  font-weight: 600;
}
.line-27 {
  height: 25px;
  left: 799px;
  top: 616px;
  width: 52px;
}

.dang-nhap .line {
  object-fit: cover;
  position: absolute;
}

.bottom {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 632px;
  min-height: 93px;
  position: absolute;

  top: 788px;
  width: 38px;
}

.bottom-item {
  height: 38px;
  width: 38px;
}

.hide {
  height: 40px;
  left: 906px;
  position: absolute;
  top: 515px;
  width: 40px;
}
.dang-nhap .group {
  display: flex;
  position: absolute;
}

.group-47 {
  height: 900px;
  left: 0;
  align-items: flex-start;
  top: 0;
  min-width: 1383px;
}
.dang-nhap .svpay-removebg-preview-container-3 {
  display: flex;
  flex-direction: column;

  gap: 7px;

  margin-top: 0;
  min-height: 896px;
}

.svpay-removebg-preview-container-1 {
  align-items: flex-end;
  width: 488px;
  margin-left: 87px;
}

.sv-pay-removebg-preview {
  height: 296px;
  object-fit: cover;
  width: 393px;
}

.sv-pay-removebg-preview-1 {
  width: 393px;
  height: 292px;
  object-fit: cover;
}
.sv-pay-removebg-preview-13 {
  align-self: flex-start;
  height: 296px;
  object-fit: cover;
  width: 393px;
}

.svpay-removebg-preview-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 0;
  min-height: 896px;
  width: 393px;
}

.svpay-removebg-preview-container-2 {
  align-items: flex-start;
  margin-left: 102px;
  width: 393px;
}

.group-53 {
  align-items: flex-start;
  gap: 7px;
  height: 43px;
  left: 796px;
  min-width: 158px;
  top: 613px;
}

.overlap-group4 {
  align-self: flex-end;
  height: 42px;
  position: relative;
  width: 109px;
}
.number {
  color: #002987;
  font-weight: 400;
  height: 40px;
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-1);
  letter-spacing: 11.25px;
  line-height: normal;
  position: absolute;
  left: 0;
  text-align: center;
  top: 2px;
  width: 109px;
}

.rectangle-263 {
  background-color: #4c58661f;
  height: 40px;
  left: 0;
  width: 109px;
}

.dang-nhap .rectangle {
  position: absolute;
  top: 0;
}

.synchronize {
  height: 42px;
  width: 40px;
}

.group-48 {
  align-items: center;
  flex-direction: column;
  gap: 6px;
  left: 452px;
  min-height: 113px;
  top: 70px;
  width: 401px;
}
.sv-pay-removebg-preview-4 {
  height: 65px;
  margin-right: 2px;
  object-fit: cover;
  width: 399px;
}
.knh-cho-qu-khch {
  height: 42px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 3px;
  width: 226px;
}

.rectangle-258 {
  border-radius: 58px;
  background-color: #fffffff2;
  border-color: var(--black);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: 0px 40px 55px #667ac1;
  height: 887px;
  left: 314px;
  width: 698px;
}
.overlap-group1 {
  position: absolute;
  height: 40px;
  left: 366px;
  top: 425px;
  width: 570px;
}
.line-26 {
  height: 1px;
  left: 0;
  top: 37px;
  width: 570px;
}

.tn-ng-nhp {
  height: 40px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 158px;
}

.button {
  align-items: flex-start;
  background-color: #882298f7;
  border-radius: 20px;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  left: 477px;
  min-width: 372px;
  padding: 0 8.3px;
  position: absolute;
  top: 739px;
}

.bt-u {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m2);
  font-weight: 600;
  height: 60px;
  letter-spacing: 0;
  line-height: 39.6px;
  margin-top: 1px;
  text-align: center;
  width: 378px;
}
.overlap-group3 {
  height: 40px;
  left: 366px;
  position: absolute;
  top: 616px;
  width: 416px;
}

.dang-nhap .line-26-3 {
  height: 1px;

  left: 0;
  object-fit: cover;
  position: absolute;

  top: 37px;
}

.line-26-2 {
  width: 416px;
}

.m-kin-tra {
  height: 40px;
  left: 8;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 153px;
}

.line-29 {
  height: 38px;
  left: 826px;
  top: 618px;
  width: 88px;
}
.overlap-groups {
  height: 77px;

  left: 409px;
  width: 587px;

  position: absolute;
  top: 815px;

  color: #00000099;
}

.tm-hiu-thm-v-chng-ti-ti-y {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m3);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 587px;
}

.group-23 {
  align-items: center;
  height: 50px;
  left: 179px;
  min-width: 149px;
  top: 27px;
}

.facebook {
  height: 50px;
  width: 40px;
}

.instagram-logo {
  height: 50px;
  margin-left: 14px;
  width: 48px;
}
.discord {
  height: 48px;
  margin-left: 15px;

  object-fit: cover;
  width: 40px;
}

.line-28 {
  height: 35px;
  left: 799px;
  top: 617px;
  width: 75px;
}

.overlap-group2 {
  height: 40px;

  left: 366px;
  position: absolute;
  width: 526px;

  top: 515px;
}
.mt-khu {
  height: 40px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 158px;
}

.line-26-1 {
  width: 526px;
}
