/* screen - dang-nhap */

.dang-nhap {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  overflow: hidden;
  width: 1440px;
}

.dang-nhap .overlap-group6 {
  height: 900px;
  margin-left: 57px;
  margin-top: 3.59px;
  position: relative;
  width: 1383px;
}

.dang-nhap .bottom {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 632px;
  min-height: 93px;
  position: absolute;
  top: 780px;
  width: 38px;
}

.dang-nhap .bottom-item {
  height: 38px;
  width: 38px;
}

.dang-nhap .group-47 {
  align-items: flex-start;
  height: 900px;
  left: 0;
  min-width: 1383px;
  top: 0;
}

.dang-nhap .svpay-removebg-preview-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 0;
  min-height: 900px;
  width: 393px;
}

.dang-nhap .sv-pay-removebg-preview {
  height: 296px;
  object-fit: cover;
  width: 393px;
}

.dang-nhap .svpay-removebg-preview-container-1 {
  align-items: flex-end;
  margin-left: 87px;
  width: 408px;
}

.dang-nhap .sv-pay-removebg-preview-13 {
  align-self: flex-start;
  height: 296px;
  object-fit: cover;
  width: 393px;
}

.dang-nhap .svpay-removebg-preview-container-2 {
  align-items: flex-start;
  margin-left: 102px;
  width: 393px;
}

.dang-nhap .rectangle-258 {
  background-color: #fffffff2;
  border-radius: 58px;
  box-shadow: 0px 40px 55px #667ac1;
  height: 887px;
  left: 314px;
  width: 698px;
}

.dang-nhap .group-48 {
  align-items: center;
  flex-direction: column;
  gap: 5px;
  left: 452px;
  min-height: 113px;
  top: 70px;
  width: 401px;
}

.dang-nhap .sv-pay-removebg-preview-4 {
  height: 65px;
  margin-right: 2.0px;
  object-fit: cover;
  width: 399px;
}

.dang-nhap .knh-cho-qu-khch {
  height: 42px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 3.0px;
  width: 226px;
}

.dang-nhap .overlap-group {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 9px;
  box-shadow: -8px 6px 0px 2px #00229880;
  display: flex;
  height: 188px;
  left: 366px;
  min-width: 593px;
  padding: 1px 4px;
  position: absolute;
  top: 176px;
}

.dang-nhap .vi-khch-hng-c {
  height: 179px;
  letter-spacing: 0;
  line-height: normal;
  width: 578px;
}

.dang-nhap .span-1 {
  color: #002298;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 600;
}

.dang-nhap .overlap-group1 {
  height: 40px;
  left: 366px;
  position: absolute;
  top: 424px;
  width: 570px;
}

.dang-nhap .tn-ng-nhp {
  height: 40px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 158px;
}

.dang-nhap .line-26 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 39px;
  width: 570px;
}

.dang-nhap .overlap-group2 {
  height: 40px;
  left: 366px;
  position: absolute;
  top: 514px;
  width: 526px;
}

.dang-nhap .mt-khu {
  height: 40px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 158px;
}

.dang-nhap .line-26-1 {
  width: 526px;
}

.dang-nhap .overlap-group3 {
  height: 40px;
  left: 366px;
  position: absolute;
  top: 615px;
  width: 416px;
}

.dang-nhap .m-kim-tra {
  height: 40px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 153px;
}

.dang-nhap .line-26-2 {
  width: 416px;
}

.dang-nhap .hide {
  height: 40px;
  left: 906px;
  position: absolute;
  top: 515px;
  width: 40px;
}

.dang-nhap .group-53 {
  align-items: flex-start;
  gap: 7px;
  height: 43px;
  left: 796px;
  min-width: 158px;
  top: 613px;
}

.dang-nhap .overlap-group4 {
  align-self: center;
  height: 41px;
  position: relative;
  width: 109px;
}

.dang-nhap .rectangle-263 {
  background-color: #4c58661f;
  height: 40px;
  left: 0;
  width: 109px;
}

.dang-nhap .number {
  color: #002987;
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 40px;
  left: 0;
  letter-spacing: 11.25px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 109px;
}

.dang-nhap .icon-refresh {
  height: 42px;
  width: 40px;
}

.dang-nhap .line-27 {
  height: 24px;
  left: 799px;
  position: absolute;
  top: 616px;
  width: 52px;
}

.dang-nhap .line-28 {
  height: 34px;
  left: 799px;
  position: absolute;
  top: 618px;
  width: 74px;
}

.dang-nhap .line-29 {
  height: 37px;
  left: 826px;
  position: absolute;
  top: 619px;
  width: 80px;
}

.dang-nhap .button {
  align-items: flex-start;
  background-color: #002298f7;
  border-radius: 20px;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  left: 477px;
  min-width: 372px;
  padding: 0 0.3px;
  position: absolute;
  top: 739px;
}

.dang-nhap .bt-u {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 600;
  height: 60px;
  letter-spacing: 0;
  line-height: 198px;
  margin-top: -1px;
  text-align: center;
  white-space: nowrap;
  width: 370px;
}

.dang-nhap .overlap-group5 {
  height: 78px;
  left: 409px;
  position: absolute;
  top: 814px;
  width: 507px;
}

.dang-nhap .tm-hiu-thm-v-chng-ti-ti-y {
  color: #00000099;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 507px;
}

.dang-nhap .group-23 {
  align-items: center;
  height: 50px;
  left: 179px;
  min-width: 149px;
  top: 28px;
}

.dang-nhap .icon-facebook {
  height: 50px;
  width: 40px;
}

.dang-nhap .icon-instagram {
  height: 50px;
  margin-left: 14px;
  width: 40px;
}

.dang-nhap .discord {
  height: 40px;
  margin-left: 15px;
  object-fit: cover;
  width: 40px;
}

.dang-nhap .group {
  display: flex;
  position: absolute;
}

.dang-nhap .line-26-3 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 39px;
}

.dang-nhap .rectangle {
  position: absolute;
  top: 0;
}

.dang-nhap .svpay-removebg-preview-container-3 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 0;
  min-height: 900px;
}
