:root {
  --black-2: rgba(0, 0, 0, 0.502);
  --black-22: rgba(0, 0, 0, 0.6);
  --black-5: rgba(0, 0, 0, 0.8);
  --black-4: rgba(0, 0, 0, 0.902);
  --black: rgba(0, 0, 0, 1);
  --resolution-blue: rgba(0, 41, 135, 1);
  --resolution-blue-2: rgba(0, 34, 152, 1);
  --havelock-blue: rgba(78, 139, 215, 1);
  --white: rgba(255, 255, 255, 1);
  --lochmara: rgba(0, 133, 204, 1);
  --alizarin-crimson: rgba(234, 47, 47, 1);

  --font-size-s: 17px;
  --font-size-xs2: 14px;

  --font-size-m: 18px;

  --font-size-x1: 24px;
  --font-size-x1: 36px;
  --font-size-s2: 16px;
  --font-size-m2: 20px;
  --font-size-l2: 28px;

  --font-size-xx12: 50px;

  

  --black: #000000;
    --resolution-blue: #002987;
    --resolution-blue-2: #002298;
    --star-dust: #a1a1a1;
    --white: #ffffff;
  
    --font-size-l: 15px;
    --font-size-m: 14px;
    --font-size-s: 12px;
    --font-size-xl: 16px;
    --font-size-xxl: 18px;
    --font-size-xxxl: 25px;
    --font-size-xxxxl: 28px;
  
    --font-family-poppins: "Poppins", Helvetica;
}

/* Classes */
.poppins-semi-bold-white-20px-22 {
  color: var(--white);

  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m2);

  font-weight: 600;

  font-style: normal;
}
.poppins-semi-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}
.poppins-semi-bold-star-dust-14px {
  color: var(--star-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}
.poppins-semi-bold-resolution-blue-12px {
  color: var(--resolution-blue);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}
.poppins-bold-black-18px {
  color: var(--black);

  font-family: var(--font-family-poppins);

  font-size: var(--font-size-m);

  font-weight: 700;
  font-style: normal;
}
.poppins-medium-black-28px {
  color: var(--black);

  font-family: var(--font-family-poppins);

  font-size: var(--font-size-12);

  font-weight: 500;

  font-style: normal;
}

.poppins-medium-black-16px {
  color: var(--black);

  font-family: var(--font-family-poppins);

  font-size: var(--font-size-s);

  font-weight: 500;

  font-style: normal;
}
.poppins-medium-black-14px {
  color: var(--black);

  font-family: var (--font-family-poppins);

  font-size: var(--font-size-xs);
  font-weight: 500;
  font-style: normal;
}

.poppins-bold-black-14px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;

  font-weight: 700;
}
.poppins-normal-black-18px {
  color: var(--black);
  font-family: var (--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 400;

  font-style: normal;
}
.poppins-bold-resolution-blue-28px {
  color: var(--resolution-blue);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-12);
  font-weight: 700;
  font-style: normal;
}

.poppins-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}
.poppins-bold-black-28px {
  color: var(--black);

  font-family: var(--font-family-poppins);
  font-size: var(--font-size-12);

  font-weight: 700;

  font-style: normal;
}
.poppins-normal-black-16px {
  color: var(--black-2);
  font-family: var(--font-family-poppins);

  font-size: var(--font-size-s);

  font-weight: 400;

  font-style: italic;
}
.poppins-normal-black-14px {
  color: var(--black);

  font-family: var(--font-family-poppins);

  font-size: var(--font-size-xs);

  font-weight: 400;

  font-style: italic;
}
.poppins-semi-bold-alizarin-crimson-20px {
  color: var(--alizarin-crimson);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m2);
  font-weight: 600;
  font-style: normal;
}
