:root { 
  --black: #000000;
  --white: #ffffff;
 
  --font-size-l: 25px;
  --font-size-m: 20px;
  --font-size-s: 18px;
 
  --font-family-playfair_display: "Playfair Display", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
}
.poppins-medium-black-20px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-semi-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.poppins-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
