:root {
  --black: #000000;
  --white: #ffffff;
  --resolution-blue: #002987;
  --font-size-l: 25px;
  --font-size-m: 20px;
  --font-size-s: 18px;

  --font-family-playfair_display: "Playfair Display", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;

  --font-size-l: 14px;
  --font-size-s: 10px;
  --font-size-xl: 16px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 20px;
  --font-size-xxxxl: 28px;
}
.poppins-medium-black-20px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-semi-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.poppins-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.poppins-medium-black-16px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.poppins-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.poppins-medium-black-13px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-black-10px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}
