/* screen - voucher-3 */

.voucher-3 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  width: 1440px;
}

.voucher-3 .overlap-group11 {
  align-items: center;
  background-color: var(--resolution-blue);
  display: flex;
  flex-direction: column;
  gap: 373px;
  min-height: 900px;
  padding: 20px 0;
  width: 100px;
}

.voucher-3 .nav-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 391px;
  width: 50px;
}

.voucher-3 .icon-home {
  height: 38px;
  width: 38px;
}

.voucher-3 .nav-bar-item {
  height: 32px;
  margin-top: 54px;
  width: 32px;
}

.voucher-3 .wallet {
  background-image: url(../img/wallet-1@2x.png);
  background-size: 100% 100%;
  height: 38px;
  margin-top: 54px;
  width: 38px;
}

.voucher-3 .group-77 {
  align-items: center;
  background-color: #4e8bd7;
  border-radius: 12px;
  display: flex;
  height: 50px;
  margin-top: 39px;
  min-width: 50px;
  padding: 0 9px;
}

.voucher-3 .ticket {
  height: 32px;
  width: 32px;
}

.voucher-3 .bottom {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 17px;
  min-height: 93px;
  width: 38px;
}

.voucher-3 .headset {
  height: 38px;
  width: 38px;
}

.voucher-3 .logout {
  height: 38px;
  width: 38px;
}

.voucher-3 .overlap-group12 {
  height: 900px;
  position: relative;
  width: 1333px;
}

.voucher-3 .overlap-group10 {
  height: 900px;
  left: 0;
  position: absolute;
  top: 0;
  width: 845px;
}

.voucher-3 .info-column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 900px;
  left: 0;
  padding: 16px 27px;
  position: absolute;
  top: 0;
  width: 473px;
}

.voucher-3 .sv-pay-removebg-preview-3 {
  height: 65px;
  margin-left: 5px;
  object-fit: cover;
  width: 399px;
}

.voucher-3 .overlap-group {
  border-radius: 20px;
  height: 243px;
  margin-top: 23px;
  position: relative;
  width: 418px;
}

.voucher-3 .individual {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 4px 12px #00298766;
  display: flex;
  height: 243px;
  left: 0;
  min-width: 418px;
  padding: 15px 164px;
  position: absolute;
  top: 0;
}

.voucher-3 .icon {
  align-items: center;
  background-color: #0085cc;
  border-radius: 45px;
  display: flex;
  height: 90px;
  min-width: 90px;
  padding: 0 4.5px;
}

.voucher-3 .icon-user {
  height: 81px;
  width: 81px;
}

.voucher-3 .ln-thanh-ton-gn-n {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 41px;
  left: 67px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 192px;
  width: 279px;
}

.voucher-3 .xin-cho {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxl);
  font-weight: 500;
  height: 30px;
  left: 142px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 115px;
  width: 135px;
}

.voucher-3 .surname {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  height: 30px;
  left: 67px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 147px;
  width: 284px;
}

.voucher-3 .overlap-group2 {
  border-radius: 20px;
  height: 379px;
  margin-top: 29px;
  position: relative;
  width: 418px;
}

.voucher-3 .hot-ng {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 4px 12px #00298766;
  display: flex;
  flex-direction: column;
  gap: 248px;
  left: 0;
  min-height: 379px;
  padding: 30px 20px;
  position: absolute;
  top: 0;
  width: 418px;
}

.voucher-3 .hot-ng-1 {
  align-self: flex-end;
  gap: 27px;
  min-width: 376px;
}

.voucher-3 .danh-sch-ti-khon-lin-kt {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 22px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: 260px;
}

.voucher-3 .chi-tit {
  color: var(--resolution-blue);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 700;
  height: 22px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  text-align: right;
  width: 85px;
}

.voucher-3 .lch-s-giao-dch {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 43px;
  min-height: 45px;
  width: 170px;
}

.voucher-3 .group-21 {
  align-items: flex-start;
  display: flex;
  gap: 98px;
  height: 60px;
  left: 23px;
  min-width: 359px;
  position: absolute;
  top: 90px;
}

.voucher-3 .ti-khon-thanh-ton-0824589005 {
  height: 60px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: 230px;
}

.voucher-3 .span-1 {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 22px;
  font-weight: 500;
}

.voucher-3 .group-20 {
  align-items: center;
  align-self: center;
  background-color: var(--resolution-blue);
  border-radius: 15.5px/16px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 32px;
  margin-top: 4.0px;
  min-width: 31px;
  padding: 0 7px;
}

.voucher-3 .forward {
  height: 16px;
  width: 16px;
}

.voucher-3 .group-22 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 51px;
  left: 23px;
  min-height: 153px;
  position: absolute;
  top: 178px;
  width: 359px;
}

.voucher-3 .flex-row {
  align-items: center;
  display: flex;
  gap: 52px;
  height: 70px;
  min-width: 359px;
}

.voucher-3 .hot-ng-2 {
  flex-direction: column;
  gap: 17px;
  min-height: 70px;
  width: 276px;
}

.voucher-3 .s-d {
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: 230px;
}

.voucher-3 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 13px;
  height: 29px;
  margin-left: 2px;
  min-width: 270px;
}

.voucher-3 .hide {
  height: 27px;
  width: 27px;
}

.voucher-3 .text-1 {
  align-self: flex-end;
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  width: 230px;
}

.voucher-3 .group-20-1 {
  align-items: center;
  background-color: var(--resolution-blue);
  border-radius: 15.5px/16px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 32px;
  margin-bottom: 6.0px;
  min-width: 31px;
  padding: 0 7px;
}

.voucher-3 .group-21-1 {
  align-items: center;
  background-color: var(--resolution-blue);
  border-radius: 15.5px/16px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 32px;
  min-width: 31px;
  padding: 0 7px;
}

.voucher-3 .icon-clock {
  height: 40px;
  left: 18px;
  position: absolute;
  top: 298px;
  width: 40px;
}

.voucher-3 .overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 4px 12px #00298766;
  display: flex;
  gap: 3px;
  height: 92px;
  margin-top: 29px;
  min-width: 414px;
  padding: 5px 15px;
}

.voucher-3 .ringer-volume {
  height: 81px;
  width: 81px;
}

.voucher-3 .flex-col {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 2.0px;
  min-height: 66px;
  width: 221px;
}

.voucher-3 .dch-v-khch-hng-247 {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 500;
  height: 22px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 221px;
}

.voucher-3 .phone {
  color: var(--resolution-blue);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  height: 34px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 2px;
  text-align: center;
  width: 208px;
}

.voucher-3 .bn-gp-vn-g {
  color: var(--black-2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  height: 46px;
  left: 464px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 244px;
  width: 381px;
}

.voucher-3 .trung-tm-tr-gip {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 34px;
  font-weight: 700;
  height: 46px;
  left: 732px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  width: 381px;
}

.voucher-3 .overlap-group3 {
  height: 78px;
  left: 663px;
  position: absolute;
  top: 798px;
  width: 507px;
}

.voucher-3 .tm-hiu-thm-v-chng-ti-ti-y {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 507px;
}

.voucher-3 .icon-facebook {
  height: 50px;
  left: 186px;
  position: absolute;
  top: 28px;
  width: 40px;
}

.voucher-3 .icon-instagram {
  height: 50px;
  left: 240px;
  position: absolute;
  top: 28px;
  width: 40px;
}

.voucher-3 .discord {
  height: 40px;
  left: 307px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 40px;
}

.voucher-3 .overlap-group4 {
  height: 127px;
  left: 503px;
  position: absolute;
  top: 104px;
  width: 828px;
}

.voucher-3 .rectangle-215 {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 1px 3px 10px #002987;
  left: 0;
  top: 0;
  width: 828px;
}

.voucher-3 .rectangle-214 {
  left: 9px;
  top: 1px;
  width: 260px;
}

.voucher-3 .degrey-gim-10-cho-n-hng-t-150k {
  left: 269px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 549px;
}

.voucher-3 .overlap-group5 {
  height: 80px;
  left: 540px;
  position: absolute;
  top: 299px;
  width: 737px;
}

.voucher-3 .ti-mun-tm-hiu-th {
  height: 80px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 733px;
}

.voucher-3 .forward-1 {
  height: 23px;
  left: 717px;
  position: absolute;
  top: 28px;
  width: 20px;
}

.voucher-3 .line-36 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 64px;
  width: 733px;
}

.voucher-3 .overlap-group6 {
  height: 80px;
  left: 540px;
  position: absolute;
  top: 495px;
  width: 737px;
}

.voucher-3 .ti-thc-hin {
  height: 80px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 733px;
}

.voucher-3 .overlap-group7 {
  height: 80px;
  left: 540px;
  position: absolute;
  top: 397px;
  width: 737px;
}

.voucher-3 .ti-khng-thc-hin {
  height: 80px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 733px;
}

.voucher-3 .overlap-group8 {
  height: 80px;
  left: 540px;
  position: absolute;
  top: 593px;
  width: 737px;
}

.voucher-3 .lm-sao-ti-kim-tra-th-qu-tng {
  height: 80px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 733px;
}

.voucher-3 .overlap-group9 {
  height: 80px;
  left: 540px;
  position: absolute;
  top: 692px;
  width: 737px;
}

.voucher-3 .ti-mun-c-th-nhn {
  height: 80px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 733px;
}

.voucher-3 .hot-ng-3 {
  align-items: flex-start;
  display: flex;
}

.voucher-3 .rectangle {
  height: 126px;
  position: absolute;
}
